<div class="row">
<div class="col-xs-12 col-sm-12 col-md-3">
    <h1>Välkommen till Hjälpkontakt</h1>
    <p>Här listar vi alla grupper som finns på Facebook för att hjälpa folk som tillhör riskgrupper.
    Klicka på en bubbla på kartan och sen länken för att komma in till deras Facebookgrupp.</p>
</div>
<div class="col-xs-12 col-sm-12 col-md-9">
<%= map(:center => {
    :latlng => [62.2229515, 15.0043013],
    :zoom => 5
  },
  :markers => @fbmarkers
) %>

</div>
</div>